.form-section {
    margin-top: 10%;
    border: 1px solid #343a40;
    border-radius: 5px;
}

form {
    padding: 4%;
}

.chart-section {
    margin-top: 5%;
}

#img-footer{
    height: 300px;
}

button {
   background-color: #343a40!important;
   border-color: #343a40!important;
}

button:hover {
    background-color: #5d6872!important;
}

canvas {
    background-color: #343a40!important;
}
.bio-content{
    margin-top:2em;
    padding: 1em;
    border: thin solid black;
}

.bio-content img, p{
    float:left;
}


