
.form-section{
    margin-top: 10%;
    border-radius: 5px;
}

h3 {
    text-align: center;
}

#servicePreference{
    margin-top: 35px;
}

form{
    padding: 4%;
}

.chart-section{
    margin-top: 5%;
}

#img-footer{
    height: 300px;
}

.btn-default {
   background-color: #343a40;
   border-color: #343a40;
   color:white;
}

.btn:hover{
    background-color: #5d6872;
}

.navbar{
    background-color: #fb4f3b;
}

.navbar a{
    color:white;
}

.nav-item a{
    color:white;
}

#btn-uber{
    background-color:black;
}

#btn-lyft{
    background-color:#ff00bf;
}

#map{
    width: 100%;
    height: 100%;
    background-color:#f2f1f2;
}

.nav{
    color:white;
}

.nav a:hover{
    color:#26c7db;
}

.navbar-brand:hover{
    color:#26c7db;
}

#forgotPassword{
    color:#26c7db;
}

.fa-location-arrow{
    color:#26c7db;
}

.nav-tabs a{
    color:black;
}

.nav-tabs a:hover{
    color:black;
}

/* @media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){

} */