.form-section {
    margin-top: 10%;
    /* border: 1px solid #343a40; */
    border-radius: 5px;
}

form {
    padding: 4%;
}

.chart-section {
    margin-top: 5%;
}

#img-footer{
    height: 300px;
}

.btn-default {
   background-color: #343a40;
   border-color: #343a40;
   color:white;
}

.btn:hover {
    background-color: #5d6872;
}

/* canvas {
    background-color: #343a40!important;
    border-radius: 25px;
} */
.bio-content{
    margin-top:2em;
    padding: 1em;
    border: thin solid black;
}
.bio-content img, p{
    float:left;
}
.table th{
    font-size:15px;
}
.table td{
    font-size: 10px;
    padding-top: 0em;
}

.background-color{
    background-color: #31cea7;
}

.navbar{
    /* background-color: #11365b; */
    /* background-color: #31cea7; */
    background-color: #e16644;
}

.navbar a{
    color:white;
}

.nav-item a{
    color:white;
}

#btn-uber{
    background-color:black;
}

#btn-lyft{
    background-color:#ff00bf;
}

#map{
    width: 100%;
    height: 100%;
    background-color: grey;
  }